<form action="/users/edit/<%= id %>" method="post" >
	<table width="25%" border="0">
		
        <tr> 
			<td>FirstName</td>
			<td><input type="text" name="FirstName"  value="<%= FirstName %>" /></td>
        </tr>
        <tr> 
			<td>LastName</td>
			<td><input type="text" name="LastName"  value="<%= LastName %>" /></td>
		</tr>
		<tr> 
			<td>Age</td>
			<td><input type="text" name="Age" value="<%= Age %>" /></td>
		</tr>
		
		<tr> 
			<td></td>
			<td><input type="submit" name="Submit" value="Edit" /></td>
		</tr>
	</table>
    <input type="hidden" name="_method" value="PUT" />
    

    
    <!-- First Name: <input name="FirstName" type="text" /> <br />
    Last Name: <input name="LastName" type="text" /> <br />
    Age: <input name="Age" type="text" /> <br />
    <input type="submit" /> -->

</form>

<!--
including footer content which is common for all pages
-->
<%- include ../layouts/footer.ejs %>